.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-image: url("/public/images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contentContainer {
    background-color: rgba(0, 0, 0, 0.4);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentContainer h1 {
    color: white;
    margin: 0px;
    font-size: xxx-large;
    text-transform: uppercase;
}

.contentContainer p {
    color: white;
    font-size: larger;
    margin: 0px;
}

.contentContainer a {
    text-decoration: none;
    margin-top: 32px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #256f96;
    padding: 12px 32px;
    letter-spacing: 1px;
    border-top-left-radius: 12px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 12px;
    transition: border 0.15s ease;
}

.contentContainer a:hover {
    border: 2px solid #234d64;
}

.sectionContainer {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.sectionContainerHeading {
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
    margin: 0px;
}

.strategiesListContainer {
    display: flex;
    justify-content: space-evenly;
    column-gap: 8px;
}

.strategiesItemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    row-gap: 32px;
}

.strategiesItemContainer img {
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
}

.strategiesItemContainer h3,
.strategiesItemContainer p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.strategiesItemContainer div {
    width: 70%;
}

.strategiesItemContainer div p {
    margin-top: 6px;
}

.strategiesItemContainer p {
    font-size: medium;
}

.featureContainer {
    background-color: rgba(0, 0, 0, 0.05);
}

.featureContainerHeading {
    text-transform: uppercase;
}

.featureListItemContainer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 16px;
    margin: 0px 64px;
}

.featureItemTextContainer {
    text-align: left;
    height: 100%;
    align-self: baseline;
}

.featureItemImageContainer {
    object-fit: contain;
    height: 400px;
    width: 400px;
}

.title {
    font-size: xx-large;
    margin-bottom: 12px;
}

.subtitle {
    font-weight: bold;
    font-size: medium;
}

.description {
    font-size: small;
}

.pointers li {
    font-size: 14px;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 12px;
}

.titleContainer h1 {
    padding-left: 32px;
    font-weight: 300;
    transition: padding-left 0.3s ease;
}

.titleLine {
    flex: 1;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.titleContainer h1:hover {
    padding-left: 64px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}