.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.listContainer {
    display: flex;
    justify-content: space-evenly;
    column-gap: 8px;
}

.itemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    row-gap: 32px;
}

.itemContainer img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.itemContainer:hover img {
    transform: scale(1.2);
}

.itemContainer h3 {
}

.itemContainer h3,
.itemContainer p {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.itemContainer div {
    width: 70%;
}

.itemContainer div p {
    margin-top: 6px;
}

.itemContainer p {
    font-size: medium;
}