.container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999
}

.top-right {
    top: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.bottom-right {
    bottom: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.top-left {
    top: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.bottom-left {
    bottom: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.notification {
    background: #fff;
    transition: .3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 30px;
    margin-bottom: 15px;
    width: 300px;
    max-height: 100px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px #999;
    color: #000;
    opacity: .9;
    background-position: 15px;
    background-repeat: no-repeat;
}

.notification:hover {
    box-shadow: 0 0 12px #fff;
    opacity: 1;
    cursor: pointer
}

.title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.message {
    margin: 0;
    text-align: left;
    margin-top: 6px;
    font-size: small;
    text-overflow: ellipsis;
}

.image {
    margin-right: 16px;
    display: flex;
}

.image img {
    width: 32px;
    height: 32px;
}

.toast {
    color: #fff;
    padding: 16px;
    display: flex;
    width: 350px;
    border-radius: 6px;
    justify-content: flex-start;
}

.content {
    flex: 1;
}

.closeIcon {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 12px;
    cursor: pointer;
    transition: color 0.15s ease;
}

.closeIcon:hover {
    color: rgba(255, 255, 255, 1);
}

.actionHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.success {
    background-color: #5cb85c;
}

.info {
    background-color: #5bc0de;
}

.warning {
    background-color: #f0ad4e;
}

.error {
    background-color: #d9534f;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}