.container {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 100px;
  padding: 0px 36px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  text-decoration: none;
  color: black;
}

.infoContainer h2,
.infoContainer p {
  margin: 0px;
  padding: 0px;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  column-gap: 36px;
  margin: 0px;
}

.menuItem {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  transition: border-bottom 0.05s ease-in;
}

.menuItem:hover {
  border-bottom: 2px solid #256f96;
}

.login {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #256f96;
  padding: 12px 32px;
  border-radius: 8px;
  letter-spacing: 1px;
  transition: background-color 0.15s ease;
}

.login:hover {
  background-color: #234d64;
}
