.container {
    width: inherit;
    height: inherit;
    overflow-x: clip;
    background-image: url("/public/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    color: white;
    margin: 0px;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
}

.content p {
    color: white;
    font-size: larger;
    margin: 0px;
}

.content a {
    text-decoration: none;
    margin-top: 32px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #256f96;
    padding: 12px 32px;
    letter-spacing: 1px;
    border-top-left-radius: 12px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 12px;
    transition: border 0.15s ease;
}

.content a:hover {
    border: 2px solid #234d64;
}