.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
}

.row {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    width: 450px;
}

.background {
    display: none
}

.background:hover {
    opacity: 0.15;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
}

.header>* {
    margin: 0px;
    padding: 0px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.title {
    margin-left: 12px;
}

.backNav {
    cursor: pointer;
    color: gray;
    transition: color 0.15s ease;
}

.backNav:hover {
    color: black;
}

@media screen and (min-width: 768px) {
    .background {
        display: flex;
        flex: 1;
        background-color: #212121;
        opacity: 0.1;
        transition: opacity 0.15s ease;
        cursor: pointer;
    }
}